<!-- <div style="margin-top:30px;">
<table id="lcInvestTable" class="display" width="100%"></table>
</div> -->

<div id="lcConfirmationSuccessDisplay">
	<div style="width:65%; float: right; clear: right;">
		<table id="lcConfirmationTable" class="display"></table>
	</div>
</div>

<div id="lcConfirmationErrorDisplay">
	<h3>Error in processing your request</h3>
	Please check your <a href="/settings/lc">Lending Club Account Information</a> is correct and
	that you have a valid <a href="/settings/ml#manage_subscription">subscription</a>.
</div>
