<!-- <div style="margin-top:30px;">
<table id="lcInvestTable" class="display" width="100%"></table>
</div> -->

<div style="width:65%; float: right; clear: right;">
	<table id="lcInvestTable" class="display"></table>
</div>

<div class="panel panel-success" style="width:30%; float: left; clear: left;">
	<div class="panel-heading">
		<h3 class="panel-title">Investment Summary</h3>
	</div>
	<div class="panel-body">
	    <h5>Total Loans: <div id="lcTotalLoansDisplay" style="display: inline-block;"></div></h5>
	    <h5>Total Notes: <div id="lcTotalNotesDisplay" style="display: inline-block;"></div></h5>
	    <h5>Cost: <div id="lcCostDisplay" style="display: inline-block;"></div></h5>
			<h5>Available Cash: <div id="lcAvailableCashDisplay" style="display: inline-block;"></div></h5>
	</div>

</div>
<!--
Purchase button
-->
<div id="lcConfirmDialog" title="Confirm Purchase">
</div>
