
<script type="text/javascript">

$(getRangedSlider('#lcDefaultRateSlider', '#default_rate_display',
	0.0, 50.0, 0.1, 0.0, 10.0, lcSimulator.update));
$(getRangedSlider('#lcIntRateSlider', '#int_rate_display',
	0.0, 40.0, 0.1, 10.0, 32.0, lcSimulator.update));
$(getRangedSlider('#lcLoanAmountSlider', '#loan_amount_display',
	1000.0, 100000.0, 100, 10000.0, 60000.0, lcSimulator.update));
$(getSlider('#lcEarlyPayoffRateSlider', '#early_payoff_rate_display',
	0.0, 100.0, 0.1, 2.5, lcSimulator.update));

</script>

<div style="width:65%; float: right; clear: right;">
		<table id="lcSimulateTable" class="display"></table>
</div>

<div class="panel panel-primary" style="width:30%; float: left; clear: left;">
	<div class="panel-heading">
    <h3 class="panel-title">Parameters</h3>
  </div>
  <div class="panel-body">
		<h5>Default Rate: <div id="default_rate_display" style="display: inline-block;"></div>%</h5>
		<div id="lcDefaultRateSlider" style="margin: 5px;"></div>

		<h5>Interest Rate: <div id="int_rate_display" style="display: inline-block;"></div>%</h5>
		<div id="lcIntRateSlider" style="margin: 5px;"></div>

		<h5>Loan Amount: $<div id="loan_amount_display" style="display: inline-block;"></div></h5>
		<div id="lcLoanAmountSlider" style="margin: 5px;"></div>

		<h5>Early Payoff Rate: <div id="early_payoff_rate_display" style="display: inline-block;"></div>%</h5>
		<div id="lcEarlyPayoffRateSlider" style="margin: 5px;"></div>

	</div>
</div>

<div class="panel panel-success" style="width:30%; float: left; clear: left;">
	<div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <div class="panel-body">
		<h5>Total Loans: <div id="lcNumLoansDisplay" style="display: inline-block;"></div></h5>
		<h5>Filtered Loans: <div id="lcNumLoansFilteredDisplay" style="display: inline-block;"></div></h5>
		<h5>Average Default Rate: <div id="lcAvgDefaultRateDisplay" style="display: inline-block;"></div>%</h5>
		<h5>Average Interest Rate: <div id="lcAvgIntRateDisplay" style="display: inline-block;"></div>%</h5>
		<h5>Simulated Full Return: <div id="lcAvgSimulatedReturnDisplay" style="display: inline-block;"></div>%</h5>
  </div>
</div>

<input id="lcSaveInvestParamsButton" type="submit" value="Save Parameters" class="btn btn-primary" style="float: left; clear: left;"
	{% if not current_user.is_authenticated %}
		disabled
	{% endif %}
>

<div id="lcConfirmSaveDialog" title="Parameters Saved">
</div>


<!-- <a href="/lc#lc_invest" class="btn btn-primary" data-toggle="tab" style="float: right; clear: right;">Invest</a> -->
