

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript">

$(getRangedSlider('#lcDefaultRateSlider', '#default_rate_display',
	0.0, 50.0, 0.1, 0.0, 25.0, lcSimulator.update));
$(getRangedSlider('#lcIntRateSlider', '#int_rate_display',
	0.0, 40.0, 0.1, 8.0, 17.0, lcSimulator.update));

</script>

<div class="panel panel-primary" style="width:40%; float: left; clear: left;">
	<div class="panel-heading">
    <h3 class="panel-title">Parameters</h3>
  </div>
  <div class="panel-body">
		<h5>Default Rate (%): <input type="text" id="default_rate_display" readonly style="border:0;"></h5>
		<div id="lcDefaultRateSlider" style="margin: 5px;"></div>

		<h5>Interest Rate (%): <input type="text" id="int_rate_display" readonly style="border:0;"></h5>
		<div id="lcIntRateSlider" style="margin: 5px;"></div>
  </div>
</div>

<div class="panel panel-success" style="width:40%; float: right; clear: right;">
	<div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body">
		<h5>Loans after filtering: <input type="text" id="lcNumLoansFilteredDisplay" readonly style="border:0;"></h5>
		<h5>Average Interest rate: <input type="text" id="lcAvgIntRateDisplay" readonly style="border:0;"></h5>
  </div>
</div>
