#psycopg2==2.6.2
psycopg2cffi-compat==1.1
psycopg2cffi=2.7.5
alembic==0.9.1
Fabric==1.8.2
Flask==0.12
Flask-Login==0.4.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.13
Flask-Assets==0.12
jsmin==2.2.1
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==1.1.5
WTForms==1.0.5
Werkzeug==0.11.2
coverage==3.7.1
ecdsa==0.10
gunicorn==19.3.0
itsdangerous==0.23
paramiko==1.12.2
wsgiref==0.1.2
numpy==1.11.1
python-http-client==2.2.1
sendgrid==3.6.3
bcrypt==3.1.1
requests==2.9.1
stripe==1.51.0
