{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Machine Lending</h1>
</div>
<p class="lead">Introduction</p>
<a target="_blank" href="https://en.wikipedia.org/wiki/Peer-to-peer_lending">Peer-to-peer lending</a>
is a relatively new form of financing, from the people to the people. One of the first, and currently largest,
such lending platforms is <a target="_blank" href="https://www.lendingclub.com/">Lending Club</a>.
More information about Lending Club and democratized lending can be found
<a target="_blank" href="https://www.lendingclub.com/public/how-peer-lending-works.action">here</a>.
<p></p>
Lending Club and other platforms generally have an "Auto-Invest" option to allow
investors to minimally manage their investment. Lending Club, for instance, allows one
to choose a distribution of loan grades in which to invest. However, choosing loans from a distribution of grades
to optimize returns is <b>not trivial or obvious</b>. This is the reason Machine Lending was developed.
<p></p>
The term <i>Machine Lending</i> is ment to describe the fact that the
loan default predictions on this site are calculated using
state-of-the-art machine learning algorithms. The model used to make the predictions
is constantly evolving and improving. See the <a target="_blank" href="#methods">Methods</a> for more details.
<p></p>
<p class="lead">Data</p>
<a name="data"></a>
As any good and transparent corporation would do, Lending Club has made a large amount of historical
data <a target="_blank" href="https://www.lendingclub.com/info/download-data.action">available</a>.
This data ranges from interest rate and <a target="_blank" href="https://en.wikipedia.org/wiki/FICO">FICO</a>
score to the number of months since the borrower was
delinquent and their <a target="_blank" href="http://www.creditcards.com/glossary/term-revolving-balance.php">revolving balance</a>.
Crucially, it also includes the current state of the loan. This means one can see if a loan
was paid in full, charged off, or current. That information is used as the dependent variable
when creating the Lending Club model. Everything else is used to train the models to predict loan default rate.
<p></p>
In addition to historical data, Lending Club also provides information about the current loans that
require funding via their <a target="_blank" href="https://www.lendingclub.com/developers/lc-api.action">API</a>. This enables
algorithmic prediction and purchase of the cream-of-the-crop notes.
<p></p>
<p class="lead">Methods</p>
<a name="methods"></a>
To make loan default predictions, Machine Lending uses what is called
<a target="_blank" href="https://en.wikipedia.org/wiki/Ensemble_learning">ensemble learning</a>.
In short, take a set of the appropriate machine learning algorithms and optimize
their coordination to fit the historical data as best possible. It's a
"<a target="_blank" href="https://en.wikipedia.org/wiki/The_Wisdom_of_Crowds">wisdom of crowds</a>"
approach to machine learning. This approach of combining the predictions of different algorithms is generally the winning
solution to black-box style machine learning competions, such as the
<a target="_blank" href="https://www.kaggle.com/c/otto-group-product-classification-challenge/forums/t/14335/1st-place-winner-solution-gilberto-titericz-stanislav-semenov/79599">Kaggle OTTO</a> challenge.
Machine Lending uses an optimized linear combination of predictions from the following algorithms:<br>
<a target="_blank" href="http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html">Random Forest, sklearn</a><br>
<a target="_blank" href="http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.ExtraTreesClassifier.html">Extra Trees, sklearn</a><br>
<a target="_blank" href="http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html">Gradient Boosting Classifier, sklearn</a><br>
Several <a target="_blank" href="http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html">K Neighbors Classifier, sklearn</a><br>
<a target="_blank" href="https://github.com/dmlc/xgboost">Extreme Gradient Boosting, xgboost</a><br>
<a target="_blank" href="https://keras.io/">Keras Neural Network, Keras</a><br>
<a target="_blank" href="https://github.com/Lasagne/Lasagne">Lasane Neural Network, Lasange</a><br>

The source code for the in-house meta classifier is available on
<a target="_blank" href="https://github.com/uzbit/mlutils">github</a>.
<p></p>
The features used to make the data set include 44 of the columns from the historical data plus 29 engineered features.
Some of the engineered features utilize zip_code to lookup information about the region from the 2014 Census as well as Zillow housing
information. By removing the loan_status and using it as the dependent variable, as well as removing columns that do not
populate more than one quartile, we end up with 58 feature columns in total. <b>Currently the model only uses data for
36 month terms</b>. Extending this to other term lengths is future work.
<p></p>
<p class="lead">Results</p>
<a name="results"></a>
A commonly used metric to determine the performance of a binary classifier is the area under the
<a href="https://en.wikipedia.org/wiki/Receiver_operating_characteristic">Receiver Operating Characteristic</a> (ROC) curve.
Generally, a classifier has an area under the curve (auc) somewhere between 0.5 and 1.0. Values closer to 1.0 indicate stronger
predictive power. Below is a plot of the current ROC curve for the Machine Lending classifier, with auc = 0.91. Plotted is the mean (red)
and ± 3 standard deviations (blue) ROC curves for 3 fold training cross-validation sets.
<script type="text/javascript" src="/static/plots/roc_auc_var.js"></script>
<center>
<script type="text/javascript" src="/static/plots/roc_auc_var.div.js"></script>
</center>
<p></p>
To get an idea of how the features are used, on can pull the relative feature importances from the tree based models (xgboost, ExtraTreesClassifier, etc.)
and plot their relative importance. Below is a plot of the feature importances for the xgboost classifier.
<script type="text/javascript" src="/static/plots/feature_importance.js"></script>
<center>
<script type="text/javascript" src="/static/plots/feature_importance.div.js"></script>
</center>

<p class="lead">Disclaimer</p>
The content included in this Website has been compiled from a variety of sources and is subject to change without notice as are any products, programs, offerings, or technical information described in this Website.
Machine Lending makes no representation or warranty whatsoever regarding the completeness, quality, or adequacy of the Website or content, or the suitability, functionality, or operation of this web site or its content.
By using this Website, you assume the risk that the content on this Website may be inaccurate, incomplete, or offensive or may not meet your needs and requirements.
Machine Lending specifically disclaims all warranties, express or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement with respect to this Website.
In no event will the Machine Lending be liable for any special, indirect, incidental or consequential damages even if company has been advised of the possibility of such damages.
<p></p>

{% endblock %}
