{% extends 'layouts/main.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="well bs-component col-lg-6 " style="margin-top: 30px;">
  <form method="post" class="form-horizontal">
    <h3 class="form-heading">Reset Password</h3> <!--<a href="{{ url_for('index.index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a>-->
    {{ form.email(class_ = 'form-control first-input last-input', placeholder = form.email.label.text) }}
    <p class="pull-left"><a href="{{ url_for('login.index') }}">Login</a></p>
    <p class="pull-right"><a href="{{ url_for('register.index') }}">Register</a></p>
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block" disabled>
		<!--
		<p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>
		-->
	</form>
</div>

{% endblock %}
