{% extends 'layouts/main.html' %}
{% block title %}Settings{% endblock %}
{% block content %}

<div class="page-header">
  <h2>Settings</h2>
</div>
<div class="nav nav-pills">
	<li
		{% if request.endpoint == 'settings.ml' %}
			class="active"
		{% endif %}>
	<a href="{{ url_for('settings.ml') }}">Machine Lending</a></li>
	<li
	{% if request.endpoint == 'settings.lc' %}
		class="active"
	{% endif %}>
	<a href="{{ url_for('settings.lc') }}">Lending Club</a></li>
</div>
<!--
<div class="btn-group-vertical" style="width:200px; float: left; clear: left;">
    <a href="#" class="btn btn-default">ML Account Info</a>
    <a href="{{ url_for('settings.lc') }}" class="btn btn-default">LC Account Info</a>
</div>
-->
{% endblock %}
